.stavklass-opacity {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5000;	
	background: url('opacity.png');
	cursor: pointer;
}

.stavklass-container {
	background: #FFFFFF;
	position: absolute;
	overflow: auto;
	padding: 10px;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 70%;
	height: 90%;
	margin: auto;
	cursor: default;
	border-radius: 10px;
}

.stavklass-searchfield {
	width: 40%;
	line-height: 20px;
	padding: 10px;
}

.stavklass-searchbutton {
	line-height: 20px;
	padding: 10px;
	margin-left: 7px;
	margin-right: 7px;
	background: #f0f0f0;
	border: solid 1px #505050;
}