.stavklass-opacity {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5000;	
	background: url('opacity.png');
	cursor: pointer;
}

.stavklass-container {
	background: #FFFFFF;
	position: absolute;
	padding: 10px;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 70%;
	height: 90%;
	margin: auto;
	cursor: default;
	border-radius: 10px;
}

.stavklass-relativecontainer {
	position: relative;
	height: 100%;
	width: 100%;
}

.stavklass-searchfield {
	width: 40%;
	line-height: 20px;
	padding: 10px;
}

.stavklass-button {
	line-height: 20px;
	padding: 10px;
	margin-left: 7px;
	margin-right: 7px;
	border: solid 1px #505050;
	background: #ffffff;
}

.stavklass-searchbutton {
	background: #f0f0f0;
}

.stavklass-activebutton {
	background: #404040;
}

.stavklass-imagescontainer {
	padding-top: 10px;
	height: 80%;
	overflow: auto;
}

.autocomplete-suggestions {
	border: solid 1px;
	padding: 4px;
	margin-top: 5px;
	background: #ffffff;
	overflow: hidden;
}

.autocomplete-suggestion {
	padding: 3px;
	margin: 0px 3px;
}


.autocomplete-selected {
	background: blue;
	color: white;
	padding: 3px;
}

.stavklass-image {
	cursor: pointer;
	width: 50%;
}

.stavklass-rating {
	margin-left: 5px;
}

.stavklass-loadingopacity {
	background: url(opacity.png);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.stavklass-loadingprogress {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 80px;
	width: 80px;
	background: url(loading.gif);
	background-repeat: no-repeat;
}